#nav {
background-color: rgba(245, 245, 245, 0.466)

}


body {
background-color: rgb(200, 196, 196);
   
}
.front-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}

.index-text {

    display: flex;
    justify-content: center;
    text-align: center;
}


.roundphoto {

        display: flex;
        justify-content: center;
        margin: 50px;
    
}

.logo {

    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
}

.mainphoto {

display: flex;
justify-content: center;
margin: 100px;

}

.portfoliopic {

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    
}